*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (min-width: 320px) {
    body{
        font-family: Arial, Helvetica, sans-serif;
        background: rebeccapurple;
    }

    main{
        width: 100%;
        height: 100%;
        background: white;
        margin: auto;
        margin-top: 50%;
        margin-bottom: 50%;

    }

    section{
        display: none;
    }

    .active{
        display: block;
        
    }
}

@media (min-width: 768px){
    main{
        max-width: 1000px;
        background: white;
        margin: auto;

    }
}